<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragmnet="head">
<meta charset="ISO-8859-1">
<style type="text/css">


body, html,form {
     
 	
 	font-family: 'Oxygen', sans-serif;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
 
h4,label{

color: #FFFAFA;
}

#text{
 background-color: #FFFAFA;
}

</style>
<title>CursoIndra</title>
<link th:href= "@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css}"  rel="stylesheet">

</head>
<body> 
    <header th:insert="fragmento/navegacion.html :: nav">
          	
     </header>
     
 <!-- CONTENIDO -->
  
 <div class="container" id="contenedor">
   	<div class="row">
 	   <div class="col-md-12 ">
 	   	<h4 class="text-center py-3" >Editar empleado</h4>
 	   	
        <form class="form-control-lg" th:object="${emple}" th:action="@{/update/{id}(id=${emple.employeeId})}" method="post">
            <div class="form-group py-1">
                <label for="nombre">Nombre</label>
                <input id ="text"type="text" th:field="${emple.firstName}" name="firstName" class="form-control"  placeholder="Nombre"  required>
            </div>
            
            <div class="form-group py-1">
                <label for="nombre">Apellido</label>
                <input id ="text" type="text" th:field="${emple.lastName}" name="lastName" class="form-control"  placeholder="Apellido" required>
            </div>
            
             <div class="form-group py-1">
                <label for="nombre">Email</label>
                <input id ="email" type="text" th:field="${emple.email}" name="email" class="form-control"  placeholder="Email" required maxlength="15"  size="15">
            </div>
            <div class="form-group py-1">
                <label for="nombre">Telefono</label>
                <input id ="text" type="text" th:field="${emple.phoneNumber}" name="phoneNumber" class="form-control"  placeholder="Telefono" required pattern="[0-9]+"">
            </div>
            <div class="form-group py-1">
                <label for="nombre">Fecha de contratacion</label>
                <input id ="text" type="date" th:field="${emple.hireDate}" name="hireDate" class="form-control"  placeholder="Fecha ingreso" required>
            </div>
            
  			 <div class="form-group py-1">
                <label for="manager">Manager</label>
                   <select id ="text"  class="form-select form-select-lg mb-3" name="managerId" required>
                     	<option th:each="empleo :${empleado}" th:value="${empleo.employeeId}" 
              			th:text="${empleo.firstName  + ' ' + empleo.lastName}" th:selected="${emple.managerId == empleo.employeeId}">
              			</option>
    				</select>
            </div>
            
            <div class="form-group py-1">
                <label for="Job">Seleciona el trabajo</label>
                   <select id ="text" class="form-select form-select-lg mb-3" name="jobs" required>
                     	<option th:each="job :${jobs}" th:value="${job.job_id}" 
              			th:text="${job.job_title}" th:selected="${emple.jobs.job_id == job.job_id}">
              			</option>
    				</select>
            </div>
             <div class="form-group py-1">
                <label for="salary">Salario</label>
                <input id ="text" type="text" name="salary" class="form-control"  placeholder="Ingresa salario" >
            </div>
           <div class="form-group py-1">
           <label for="commission_pct">Comision</label>     
            <input id ="text" type="text" name="commissionPct" class="form-control"  placeholder="Ingresa comision" pattern= "[0-9]">    
           </div> 
           
            <div class="form-group py-1">
                <div class="form-group py-1">
             		<label for="manager">Departamento</label>
                  <select id ="text" class="form-select form-select-lg mb-3" name="depas" >
                     	<option th:each="depa :${depas}" th:value="${depa.department_id}" 
              			th:text="${depa.department_name}" th:selected="${emple.depas.department_id == depa.department_id}">
              			</option>
    				</select>
            	</div>
                         
            </div>
            
            <div class="form-group py-1"> 
            	<a class="btn btn-secondary" th:href="@{/empleados}">Atras</a>    
            	<button class="btn btn-success text-center" type="submit">Guardar</button>
            	
           </div>
           
        </form>
    </div>
   </div>
</div>

<!-- PIE DE PAGINA -->
  <div th:insert="fragmento/pie.html :: footer">  </div>

  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js}" ></script>
	

</body>
</html>