<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #DCDCDC;">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('user')">
          <a class="nav-link"  th:href="@{/empleados}">Empleados</a>
        </li>
         <li class="nav-item dropdown" sec:authorize="hasAuthority('admin')">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Empleados
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          	<li><a class="dropdown-item" th:href="@{/empleados}">Consulta</a></li>
            <li><a class="dropdown-item" th:href="@{/agregar/emple}">Agregar empleado</a></li>
            
          </ul>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link"th:href="@{/usuarios}">Usuarios</a>
        </li>
      </ul>
      <div class="navbar-text" sec:authorize="isAuthenticated()" >
       <div class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span sec:authentication="principal.authorities"></span>
          </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
            	<form class="dropdown-item" th:action="@{/logout}" method="post">
            		<button type="submit" class="btn">Cerrar sesion</button>
              	</form>
            </li>
         
          </ul>   
         </div>
      </div>
       <div class="navbar-text" sec:authorize="isAuthenticated()"> 
         	Rol: <span sec:authentication="principal.authorities"></span>
       </div>
    </div>
  </div>
</nav>