<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragmnet="head">
<meta charset="ISO-8859-1">
<title>Error</title>
<link th:href= "@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css}"  rel="stylesheet">

</head>

  <header th:insert="fragmento/navegacion.html :: nav">
 		
 		
  </header> 
<body>

 <div class="container"  >
   	<div class="row">
 	   <div class="col-md-12 " >
 	   <h3 class="panel-yitle text-danger">
 	   		<!-- <span th:text="${error}"></span><span th:text="${status}"></span> -->
 	   </h3>
 	   	<h4 class="text-center">Lo sentimos no se encuentra la pagina que buscas</h4>
 	   	
 	 </div>
   </div>
 </div>

</body>
</html>